@model IEnumerable<MVC5App.Models.FuelSalesViewModel>

@{
    ViewBag.Title = "FuelSalesReport";
}

<h2> Fuel Sales</h2>
<main role="main" class="col-md-9 ml-sm-auto col-lg-10 pt-3 px-4">
    <div style="float:left">
        <ul class="nav flex-column">
            <li class="nav-item">
                @Html.ActionLink("Back", "Index")
            </li>
        </ul>
    </div>
    <div style="float:right">
        <ul class="nav flex-column">
            <li class="nav-item">
                @Html.ActionLink("Export", "ExportFuelSalesToExcel")
            </li>
        </ul>
    </div>
</main>
<p>
    <main role="main" class="col-md-9 ml-sm-auto col-lg-10 pt-3 px-4">
        <div class="table-responsive top-margin">
            <table class="table table-striped table-sm">
                <tbody>
                    <tr>
                        <th>
                            @Html.DisplayNameFor(model => model.OnDate)
                        </th>
                        <th>
                            @Html.DisplayNameFor(model => model.Dollars)
                        </th>
                        <th></th>
                    </tr>

                    @foreach (var item in Model)
                    {
                        <tr>
                            <td>
                                @Html.DisplayFor(modelItem => item.OnDate)
                            </td>
                            <td>
                                @Html.DisplayFor(modelItem => item.Dollars)
                            </td>
                        </tr>
                    }

                </tbody>
            </table>
        </div>

    </main>
</p>