@model IEnumerable<MVC5App.Models.FuelSalesViewModel>

@{
    ViewBag.Title = "FuelSalesReportYear";
}
@foreach (var item in Model)
{
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.OnDate)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Dollars)
        </td>
    </tr>
}
<h1 class="col-md-9">Fuel Sales This Year</h1>

<p>
    @Html.ActionLink("Create New", "Create")
</p>
<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.OnDate)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Dollars)
        </th>
        <th></th>
    </tr>


</table>
