@model IEnumerable<MVC5App.Models.FuelSalesViewModel>

@{
    ViewBag.Title = "Index";
}

<h2>Index</h2>

<p>

    <div class="table-responsive top-margin">
        <table class="table table-striped table-sm">
            <tbody>
                <tr>
                    <th>
                        @Html.DisplayNameFor(model => model.OnDate)
                    </th>
                    <th>
                        @Html.DisplayNameFor(model => model.Dollars)
                    </th>
                    <th></th>
                </tr>

                @foreach (var item in Model)
                {
                    <tr>
                        <td>
                            @Html.DisplayFor(modelItem => item.OnDate)
                        </td>
                        <td>
                            @Html.DisplayFor(modelItem => item.Dollars)
                        </td>
                    </tr>
                }

            </tbody>
        </table>
    </div>
    <div style="float:right">
        <ul class="nav flex-column">
            <li class="nav-item">
                @Html.ActionLink("Export", "ExportToExcel")
            </li>
        </ul>
    </div>
</p>

